<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Update</th>
        <th scope="col">Activity</th>
      </tr>
    </thead>
    <tbody>
      {% for user_activity in user_activity_list %}
      <tr>
        <th scope="row">{{ user_activity.activity_count }}</th>
        <td>{{ user_activity.user.username }}</td>
        <td>{{ user_activity.timestamp }}</td>
        <td>{{ user_activity.current_activity_display }}</td>
      </tr>
      {% empty %}
      无记录
      {% endfor %}
    </tbody>
</table>
