<div class="inner">
        <h4 class="masthead-brand">{% if request.user.is_active %}{{ request.user.username }} {% else %} UserActivity{% endif %}</h4>
        <nav class="nav nav-masthead justify-content-center" style="padding-left:20px">
          <a class="nav-link {% if title == '打卡' %} active {% endif %}" href="{% url 'time_clock:index' %}">Home</a>
          {% if request.user.is_active %}
          <a class="nav-link active_logout" href="{% url 'user:logout' %}">Logout</a>
          {% else %}
          <a class="nav-link active_login" href="{% url 'user:login' %}">Login</a>
          {% endif %}
          <a class="nav-link {% if title == '历史记录' %} active {% endif %}" href="{% url 'time_clock:history' %}">History</a>
          
        </nav>
       
</div>