{% load crispy_forms_tags %}
<form method="POST" class="form-signin" action="">
        {% csrf_token %}
        <h1 class="cover-heading mb-4">{{content_title}}</h1>
        {% for field in form %}
        <div class="form-label-group mb-3">
            {{ field|as_crispy_field }}
        </div>
        {% endfor %}
        <p class="text-danger">{{ form.non_field_errors.as_text }}</p>
        {% if title == '登陆' %} 
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        {% endif %}
        <input class="btn btn-lg btn-primary btn-block" value="{{submit_text}}" type="submit">
        {% if title == '登陆' %}
        <a class="btn btn-lg btn-info btn-block" href="{% url 'user:signup' %}">No account ? Sign up</a>
        {% endif %}
        <!-- <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p> -->
</form>